
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    padding: 20px;
    color: #b4b4b4;
}

footer a:hover,
footer p:hover,
footer h2:hover
{
    color: #ffffff;
    cursor: pointer;
}

footer .column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

footer h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
}

footer p {
    font-size: 1em;
}

@media (max-width: 768px) {
    footer .column {
        flex: 1 0 100%;
    }
}