.thumbs-wrapper {
    display: none;
}

div.scroll-container {
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
    overflow-x: auto;
    white-space: nowrap;
}

.product_image_slider {
    width: 300px;
    /* Adjust the width to your preference */
    border: 1px solid #ddd;
    margin: 0 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product_image_slider img {
    /* max-width: 100%;
    height: auto; */
    width: 100%;
    height: 80%;
    object-fit: fill;
    
}

.product_image_slider:hover {
    transform: scale(1.05);
}

.sellerName {
    font-size: larger;
    font-weight: 700;
    margin: 5px 0;
}

.title {
    font-size: large;
    margin: 5px 0;
}

.price {
    font-size: x-large;
    color: #d20000;
    margin: 5px 0;
}
.home{
    padding: 15px;
    background-color: #3a3a3a;
    color: #fff;
}

@media (max-width: 768px) {
    .product_image_slider {
        flex: 1 0 100%;
    }
}

